:root {
    /* font */
    --regular: 400;
    --bold: 600;
    --font-hl: 'RobotoSlab', serif;
    --font-hlb: 'RobotoSlab-Bold', serif;
    --font-copy: 'OpenSans', serif;
    /* color */
    --col-0: #23243E;
    --app-color: #fdfcfc;
    --app-text-color-contrast: #fdfcfc;
    --board-bg: #EBEEF5;
    /* app accent */
    --app-accent: #3336f7;
    /* button */
    --button-text-color: #ffffff;
    /* plots */
    --title: #5E658E;
    --grid-color: #b9b8b8;
    --grid-color_rgb: 185, 184, 184;
}

[data-theme=dark] {
    /* font */
    --regular: 400;
    --bold: 600;
    --font-hl: 'RobotoSlab', serif;
    --font-hlb: 'RobotoSlab-Bold', serif;
    --font-copy: 'OpenSans', serif;
    /* color */
    --col-0: #2f353e;
    --app-color: #272e37;
    --app-text-color-contrast: #fdfcfc;
    --board-bg: #20252d;
    /* app accent */
    --app-accent: #3336f7;
    /* button */
    --button-text-color: #ffffff;
    /* plots */
    --title: #5E658E;
    --grid-color: #b9b8b8;
    --grid-color_rgb: 185, 184, 184;
}